<!DOCTYPE html>
<html lang="en">
<head>
    <title><h1>hello let's chat</h1></title>

 <style>
    h1 {text-align: center;}
    body{
        
        padding: 350px;

    }
    .button {
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      .button1:hover {
        background-color: #4CAF50;
        color: white ;
      }
      .button2 {background-color: yellow} 
    </style>
</head>
<body  style="background-color:yellow;"  >
    
<h1 style="background-color:DodgerBlue;font-size:50px;"><b>Hello  Welcome </b></h1>
<h1 style= "font-size:50px;"><b>To</b></h1>
<h1 style="background-color:Tomato;font-size:80px;"><b>let's chat</b></h1>

<form action='logindisp'>
<td><button  name="id" type="submit"  class="button button1">To start chat</br> click here</button></td>
</form>

</body>
</html>





